name: Backfill Changelog

on:
  workflow_dispatch:

jobs:
  backfill-changelog:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: master

      - name: Get releases
        id: get_releases
        uses: actions/github-script@v6
        with:
          script: |
            const response = await github.rest.repos.listReleases({
              owner: 'mollie',
              repo: 'mollie-api-php',
            });
            const releases = response.data;
            releases.sort((a, b) => new Date(a.published_at) - new Date(b.published_at));
            return JSON.stringify(releases.map(release => ({
              tag_name: release.tag_name,
              name: release.name,
              body: release.body.replace(/\n/g, '\\n').replace(/"/g, '\\"'), // Replace newlines and escape quotes
              published_at: release.published_at
            })));

      - name: Debug releases output
        run: |
          echo "Releases output:"
          echo '${{ steps.get_releases.outputs.result }}'

      - name: Update Changelog
        run: |
          releases='${{ steps.get_releases.outputs.result }}'
          changelog="# Changelog\n\nAll notable changes to this project will be documented in this file.\n\nThe format is based on [Keep a Changelog](https://keepachangelog.com/en/1.1.0/), and this project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html).\n\n"
          echo "$releases" | jq -c '.[]' | while read -r release; do
            tag_name=$(echo "$release" | jq -r '.tag_name')
            name=$(echo "$release" | jq -r '.name')
            body=$(echo "$release" | jq -r '.body' | sed 's/\\n/\n/g')  # Properly handle newlines
            published_at=$(echo "$release" | jq -r '.published_at')
            changelog+="## [$tag_name] - $published_at\n\n$body\n\n"
          done
          echo -e "$changelog" > CHANGELOG.md

      - name: Commit updated CHANGELOG
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          branch: main
          commit_message: "Backfill CHANGELOG with past releases"
          file_pattern: CHANGELOG.md
