name: Backfill Changelog

on:
  workflow_dispatch:

jobs:
  backfill-changelog:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: master

      - name: Get releases
        id: get_releases
        uses: actions/github-script@v6
        with:
          script: |
            async function getAllReleases(page = 1, releases = []) {
              const response = await github.rest.repos.listReleases({
                owner: 'mollie',
                repo: 'mollie-api-php',
                per_page: 100,
                page: page
              });
              releases = releases.concat(response.data);
              if (response.data.length === 100) {
                return await getAllReleases(page + 1, releases);
              }
              return releases;
            }
            const allReleases = await getAllReleases();
            allReleases.sort((a, b) => new Date(a.published_at) - new Date(b.published_at));
            const formattedReleases = allReleases.map(release => ({
              tag_name: release.tag_name,
              name: release.name,
              body: release.body ? release.body.replace(/\n/g, '\\n').replace(/"/g, '\\"') : '',
              published_at: release.published_at
            }));
            core.setOutput('result', JSON.stringify(formattedReleases));
